[submodule "janus/hammer"]
	path = janus/hammer
	url = git@github.com:matthias-guenther/hammer.vim.git
[submodule "janus/powerline"]
	path = janus/powerline
	url = git@github.com:Lokaltog/powerline.git
