"*":
  Zen: {}
  "atom-alignment":
    alignBy: [
      "||="
      "=>"
      "="
      ":="
      "-"
    ]
  "atom-beautify":
    _analyticsUserId: "f957b1ae-0be3-4807-b7d7-01cc43bd6558"
    general:
      _analyticsUserId: "9fd3bcd9-5ebb-4289-8220-5a21578db4ed"
  core:
    disabledPackages: [
      "git-blame"
      "linter-ruby"
      "sort-lines"
    ]
    themes: [
      "atom-solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "fb975bec-2ae1-d1be-7d1f-d8883843ff15"
  linter:
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-ruby":
    rubyExecutablePath: '''
      /opt/boxen/rbenv/shims/ruby
      /opt/boxen/rbenv/shims/ruby
      
    '''
  metrics:
    userId: "055d0eb0-6231-b988-1129-079afb8736cf"
  minimap: {}
  nvatom:
    directory: "/Users/alex/Dropbox/Documents/Notational Data"
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
