"*":
  editor:
    fontFamily: "Monaco"
    showInvisibles: true
    invisibles: {}
    fontSize: 13
  core:
    disabledPackages: [
      "minimap"
    ]
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "exception-reporting":
    userId: "fb975bec-2ae1-d1be-7d1f-d8883843ff15"
  metrics:
    userId: "055d0eb0-6231-b988-1129-079afb8736cf"
  "release-notes":
    viewedVersion: "0.94.0"
